html
  head
    title drag-drop example
    style.
      body {
        height: 100%;
      }
      .drag {
        border: 5px solid red;
      }

      .upload {
        width: 300px;
        height: 200px;
        background: gray;
      }
  body
    h1 Drag something onto this page
    div.upload
    script(src='./js/dragdrop.min.js')
    script(src='./js/upload.js')
